<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>My Time Off Requests</h2>
  <a href="{% url 'request_time_off' %}" class="btn btn-primary">
    Submit New Request
  </a>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Reason</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  {% for req in time_off %}
  <tr>
    <td>{{ req.start_date }}</td>
    <td>{{ req.end_date }}</td>
    <td>{{ req.reason }}</td>
    <td>
      {% if req.status == 'P' %}Pending
      {% elif req.status == 'A' %}Approved
      {% elif req.status == 'D' %}Denied
      {% endif %}
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="4">No requests found.</td>
  </tr>
  {% endfor %}
  </tbody>
</table>



</body>
</html>