{% load shifts_extras %}
{% extends 'shifts/base.html' %}

{% block content %}
<div class="container py-4">
    <h2>All Users’ Shift Schedule</h2>

    <table class="table table-bordered table-sm">
        <thead class="table-light">
        <tr>
            <th scope="col">Time</th>
            {% for day in week_days %}
            <th scope="col">{{ day }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for hour in hours %}
        <tr>
            <th scope="row">{{ hour }}:00</th>
            {% for day in week_days %}
            <td style="min-width: 120px; vertical-align: top;">
                {# grab the list for this day, then this hour #}
                {% with shifts_by_day_hour|get_item:day as day_dict %}
                {% with day_dict|get_item:hour as cell_shifts %}
                {% for shift in cell_shifts %}
                <div class="badge bg-success mb-1">
                    {{ shift.user.username }}<br/>
                    {{ shift.start_time|time:"g:i A" }} – {{ shift.end_time|time:"g:i A" }}
                </div><br/>
                {% endfor %}
                {% endwith %}
                {% endwith %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
